.leaflet-control-layers-toggle {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-image: url("leaflet/dist/images/marker-icon.png") !important;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
